{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sponsor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsor.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sponsor.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sponsor.description }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ sponsor.website }}</td>
            </tr>
            <tr>
                <th>Googlemap</th>
                <td>{{ sponsor.googleMap }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ sponsor.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sponsor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sponsor_edit', { 'id': sponsor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
