{% extends 'base.html.twig' %}

{% block body %}
   
    <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a style="margin-bottom: 15px;margin-left: 10px;" class=" btn btn-primary" href="{{ path('annecompet_index') }}">créer une nouvelle Année</a>
                    <a style="margin-bottom: 15px;margin-left: 10px;" class=" btn btn-primary" href="{{ path('equipecompo_index') }}">créer les Équipes pour une année</a>
                    <a style="margin-bottom: 15px;margin-left: 10px;" class=" btn btn-primary" href="{{ path('matchcompet_index') }}">Accès à l'administration des scores</a>
                    <a style="margin-bottom: 15px;margin-left: 10px;" class=" btn btn-primary" href="{{ path('resumpost_index') }}">Accès à l'administration des résumés des matchs</a>
                    {% endif %}
                    
                    {% for anneCompet in anneCompets %}
                        
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 style="font-weight: bold; font-size: 20px" class="panel-title">Match saison {{ anneCompet.anneeDepart }} phase {{ anneCompet.phase }}</h3>
                                </div>
                                <div class="col col-xs-6 text-right">
                                    <!--<button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>-->
                                    {#{% if is_granted('ROLE_ADMIN') %}        
                                        <a class="btn btn-sm btn-primary btn-create" href="{{ path('annecompet_index') }}">créer une nouvelle Année</a>
                                    {% endif %}#}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">Journée</th>
                                        {#{% for matchCompet in matchCompets|slice(0, anneCompet.numberEquipe) %}
                                            {% if matchCompet.anne == anneCompet.id|number_format %}
                                            <th>{{ matchCompet.numeroEquie }}</th>
                                            {% endif %}
                                        {% endfor %}#}
                                        {% for equipeCompo in equipeCompos %}
                                            {% if equipeCompo.anne == anneCompet.id|number_format %}
                                            <th>{{ equipeCompo.nomEquipe }}</th>
                                            {% endif %}
                                        {% endfor %}
                                        <!--<th><em class="fa fa-cog"></em></th>-->
                                    </tr> 
                                </thead>
                                <tbody>
                                    {#{% for blogPost in blogPosts %}
                                        <tr>
                                            <td>{{ blogPost.id }}</td>
                                            <td><a href="{{ path('blogpost_show', { 'id': blogPost.id }) }}">{{ blogPost.title }}</a></td>
                                            <td>{% if blogPost.createdAt %}{{ blogPost.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{{ blogPost.author }}</td>
                                            <td>{{ blogPost.categorie }}</td>
                                            <td align="center">
                                                <a class="btn btn-default" href="{{ path('blogpost_show', { 'id': blogPost.id }) }}"><em class="fa fa-eye"></em></a>
                                                {% if is_granted('ROLE_ADMIN') %}   
                                                    <a class="btn btn-primary" href="{{ path('blogpost_edit', { 'id': blogPost.id }) }}"><em class="fa fa-pencil"></em></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}#}
                                    {% for i in 1..7 %}
                                    <tr>
                                        <td align="center">
                                           {{ i }}
                                        </td>
                                        {% for matchCompet in matchCompets %}
                                            {% set foo = 'false' %}
                                            {% if matchCompet.anne == anneCompet.id|number_format %}
                                                {% if matchCompet.journee == i %}
                                                    <td align="center">
                                                        {{ matchCompet.score }}
                                                        <a href="{{ path('matchcompet_edit', { 'id': matchCompet.id }) }}" class="btn btn-default"><em class="fa fa-pencil"></em></a>

                                                        {% for resumPost in resumPosts %}
                                                            {% if resumPost.Match == matchCompet.id|number_format %}
                                                                <a href="{{ path('resumpost_edit', { 'id': resumPost.id }) }}" class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                                                {% set foo = 'true' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if foo == 'false' %}
                                                            <a href="#" class="btn btn-primary resum_vierge" id="{{ matchCompet.id }}" data-toggle="modal" data-target=".bs-example-modal-lg"><em  class="fa fa-file-text"></em></a>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td align="center">
                                           résultat
                                        </td>
                                        {% for matchCompet in matchCompets %}
                                            {% set foo = 'false' %}
                                            {% if matchCompet.anne == anneCompet.id|number_format %}
                                                {% if matchCompet.journee == 'resultat' %}
                                                    <td align="center">
                                                        {{ matchCompet.score }}
                                                        <a href="{{ path('matchcompet_edit', { 'id': matchCompet.id }) }}" class="btn btn-default"><em class="fa fa-pencil"></em></a>

                                                        {% for resumPost in resumPosts %}
                                                            {% if resumPost.Match == matchCompet.id|number_format %}
                                                                <a href="{{ path('resumpost_edit', { 'id': resumPost.id }) }}" class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                                                {% set foo = 'true' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if foo == 'false' %}
                                                            <a href="#" class="btn btn-primary resum_vierge" id="{{ matchCompet.id }}" data-toggle="modal" data-target=".bs-example-modal-lg"><em  class="fa fa-file-text"></em></a>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                    
                                    </tr>
                                   
                                    {#<tr>
                                        <td class="hidden-xs">
                                            1
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <!--<a class="btn btn-danger"><em class="fa fa-trash"></em></a>-->
                                            <a class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                        </td>
                                        <td>
                                            20-20
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <!--<a class="btn btn-danger"><em class="fa fa-trash"></em></a>-->
                                            <a class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                        </td>
                                        <td>
                                            18-30
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <!--<a class="btn btn-danger"><em class="fa fa-trash"></em></a>-->
                                            <a class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                        </td>
                                        <td>
                                            20-45
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <!--<a class="btn btn-danger"><em class="fa fa-trash"></em></a>-->
                                            <a class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                        </td>
                                        <td>
                                            50-50
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <!--<a class="btn btn-danger"><em class="fa fa-trash"></em></a>-->
                                            <a class="btn btn-primary"><em class="fa fa-file-text"></em></a>
                                        </td>
                                        <!--<td align="center">
                                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        </td>-->
                                    </tr>#}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                
                                    
                                
                            </div>
                        </div>
                    </div>
                                    
                    {% endfor %}
                
                <a class="btn btn-primary" href="{{ path('administration') }}">Accès à l'administration</a>
                </div>
            </div>
        </div>
                
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding: 15px;">
                    <div class="commentaireForm clearfix">
                        {{ form_start(form) }}

                        <div style="display: block">
                            {{ form_label(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div style="background-color: #fff">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div style="display: block">
                            {{ form_label(form.content) }}
                            {{ form_errors(form.content) }}
                        </div>
                        {{ form_widget(form.content) }}

                        <div style="display: block">
                            {{ form_label(form.author) }}
                            {{ form_errors(form.author) }}
                            <div style="background-color: #fff">
                                {{ form_widget(form.author, {'attr': {'class': 'form-control','value' : app.user.username} }) }}
                            </div>
                        </div>

                        <div style="display: none">
                            {{ form_label(form.Match) }}
                            {{ form_errors(form.Match) }}
                            {{ form_widget(form.Match) }}
                        </div>

                        <span style="margin-top: 10px;" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">
                            <input class="btn btn-success btn-lg btn-block" type="submit" value="Create" />
                        </span>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

<script>
    var CKEDITOR_BASEPATH = '/ttpontrambertois/web/bundles/ttplatform/ckeditor/';

    $(".resum_vierge").click(function() {
        var numArticle = $(this).attr('id');
        $( "#resum_post_Match" ).val(numArticle);
        $( ".commentaireForm" ).show(500);
    });
</script>

{% endblock %}
