{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition d'un commentaire</h1>
    
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_start(edit_form) }}
        <div style="display: block">
        {{ form_label(edit_form.author) }}
        {{ form_errors(edit_form.author) }}
        {{ form_widget(edit_form.author) }}
        </div>
        
        <div style="display: block">
        {{ form_label(edit_form.content) }}
        {{ form_errors(edit_form.content) }}
        </div>
        {{ form_widget(edit_form.content) }}
        
        <div style="display: block">
        rataché le commentaire a l'article d'ID
        {#{{ form_label(edit_form.post) }}#}
        {{ form_errors(edit_form.post) }}
        {{ form_widget(edit_form.post) }}
        </div>
        
        <div style="margin: 10px 20px;">
            

            <input class="btn btn-secondary" type="submit" value="Mettre à jour le contenue" />

    {{ form_end(edit_form) }}

            <a class="btn btn-primary" style="color: white;text-decoration: none;" href="{{ path('blogcomment_index') }}">retour à la liste de tous les commentaires</a>
            <a class="btn btn-primary" style="color: white;text-decoration: none;" href="{{ path('blogpost_index') }}" target="_blank">Accès à la liste de tous les articles</a>

            {{ form_start(delete_form, {'attr': {'class': 'form_display'}}) }}
                <input class="btn btn-secondary" type="submit" value="Supprimer le contenue">
            {{ form_end(delete_form) }}

    {% endif %}
    </div>
    <script>
        var CKEDITOR_BASEPATH = '/ttpontrambertois/web/bundles/ttplatform/ckeditor/';
    </script>

{% endblock %}
