
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire</h1>
    <div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ blogComment.author }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blogComment.content|raw }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if blogComment.createdAt %}{{ blogComment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ blogComment.id }}</td>
            </tr>
        </tbody>
    </table>
    </div>

 
        {% if is_granted('ROLE_ADMIN') %}   
            <div style="margin: 10px 20px;">

            <a class="btn btn-primary" style="color: white;text-decoration: none;" href="{{ path('blogcomment_index') }}">retour à la liste de tous les commentaires</a>

            <a class="btn btn-success" style="color: white;text-decoration: none;" href="{{ path('blogcomment_edit', { 'id': blogComment.id }) }}">Editer le commentaire</a>

            {{ form_start(delete_form, {'attr': {'class': 'form_display'}}) }}
                <input class="btn btn-secondary" type="submit" value="Supprimer le contenue">
            {{ form_end(delete_form) }}

        {% endif %}
        </div>
  
{% endblock %}
