{% extends 'base.html.twig' %}

{% block body %}
    <h1>Championnat list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Lien</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for championnat in championnats %}
            <tr>
                <td><a href="{{ path('adminChampionnat_show', { 'id': championnat.id }) }}">{{ championnat.id }}</a></td>
                <td>{{ championnat.titre }}</td>
                <td>{{ championnat.categorie }}</td>
                <td>{{ championnat.lien }}</td>
                <td>{{ championnat.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminChampionnat_show', { 'id': championnat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminChampionnat_edit', { 'id': championnat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminChampionnat_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
