{% extends 'base.html.twig' %}

{% block body %}
    <h1>Championnat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ championnat.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ championnat.titre }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ championnat.categorie }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ championnat.lien }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ championnat.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminChampionnat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adminChampionnat_edit', { 'id': championnat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
